[submodule "zsh/data/plugins/fzf-tab"]
	path = zsh/data/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/data/plugins/zsh-syntax-highlighting"]
	path = zsh/data/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/data/plugins/zsh-completions"]
	path = zsh/data/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "kakoune/autoload/rc/foot.kak"]
	path = kakoune/autoload/rc/foot.kak
	url = https://github.com/kkga/foot.kak
[submodule "kakoune/autoload/rc/pmanage.kak"]
	path = kakoune/autoload/rc/pmanage.kak
	url = https://github.com/andreyorst/pmanage.kak
[submodule "kakoune/autoload/rc/smarttab.kak"]
	path = kakoune/autoload/rc/smarttab.kak
	url = https://github.com/andreyorst/smarttab.kak
[submodule "kakoune/autoload/rc/kakoune-find"]
	path = kakoune/autoload/rc/kakoune-find
	url = https://github.com/occivink/kakoune-find
[submodule "kbd/qmk_firmware"]
	path = kbd/qmk_firmware
	url = https://github.com/qmk/qmk_firmware
[submodule "kakoune/autoload/rc/number-toggle.kak"]
	path = kakoune/autoload/rc/number-toggle.kak
	url = https://github.com/evanrelf/number-toggle.kak
