[submodule "zsh/data/plugins/fzf-tab"]
	path = zsh/data/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/data/plugins/zsh-syntax-highlighting"]
	path = zsh/data/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/data/plugins/zsh-completions"]
	path = zsh/data/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "neovim/data/start/vim-dirvish"]
	path = neovim/data/pack/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "neovim/data/start/winpick.nvim"]
	path = neovim/data/pack/start/winpick.nvim
	url = https://github.com/gbrlsnchs/winpick.nvim
[submodule "neovim/data/start/editorconfig.nvim"]
	path = neovim/data/pack/start/editorconfig.nvim
	url = https://github.com/gpanders/editorconfig.nvim
[submodule "neovim/data/start/bufdelete.nvim"]
	path = neovim/data/pack/start/bufdelete.nvim
	url = https://github.com/famiu/bufdelete.nvim
[submodule "neovim/data/start/plenary.nvim"]
	path = neovim/data/pack/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "neovim/data/opt/gitsigns.nvim"]
	path = neovim/data/pack/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "neovim/data/opt/indent-blankline.nvim"]
	path = neovim/data/pack/opt/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "neovim/data/opt/spellsitter.nvim"]
	path = neovim/data/pack/opt/spellsitter.nvim
	url = https://github.com/lewis6991/spellsitter.nvim
[submodule "neovim/data/opt/nvim-ts-autotag"]
	path = neovim/data/pack/opt/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag
[submodule "neovim/data/opt/nvim-ts-rainbow"]
	path = neovim/data/pack/opt/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow
[submodule "neovim/data/opt/nvim-ts-context-commentstring"]
	path = neovim/data/pack/opt/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring
[submodule "neovim/data/opt/nvim-treesitter"]
	path = neovim/data/pack/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "neovim/data/opt/nvim-colorizer.lua"]
	path = neovim/data/pack/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "neovim/data/opt/nvim-lspconfig"]
	path = neovim/data/pack/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "neovim/data/start/lush.nvim"]
	path = neovim/data/pack/start/lush.nvim
	url = https://github.com/rktjmp/lush.nvim
[submodule "neovim/data/opt/lua-dev.nvim"]
	path = neovim/data/pack/opt/lua-dev.nvim
	url = https://github.com/folke/lua-dev.nvim
[submodule "neovim/data/start/sqlite.lua"]
	path = neovim/data/start/sqlite.lua
	url = https://github.com/tami5/sqlite.lua
[submodule "neovim/data/pack/opt/tree-sitter-just"]
	path = neovim/data/pack/opt/tree-sitter-just
	url = https://github.com/IndianBoy42/tree-sitter-just
[submodule "neovim/data/pack/start/float-preview.nvim"]
	path = neovim/data/pack/start/float-preview.nvim
	url = https://github.com/ncm2/float-preview.nvim
[submodule "neovim/data/pack/opt/null-ls.nvim"]
	path = neovim/data/pack/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
