configuration {
	modi: "drun,window";
	combi-modi: "drun,window";
	theme: "gruvbox";
	font: "serif 10";
	show-icons: false;
	icon-theme: "Papirus-Dark";
	eh: 1;
}

element-icon {
	size: 32;
	border: 0px;
}

element-text {
    expand: true;
    vertical-align: 0.5;
}
