[Unit]
Description=X compositor
Documentation=
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/picom --backend glx

[Install]
WantedBy=wm-session.target
