[Unit]
Description=Program to hide idle mouse cursor
Documentation=
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/unclutter -idle 1

[Install]
WantedBy=wm-session.target
