[Unit]
Description=Listen to systemd events/DPMS to lock the screen
Documentation=
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xss-lock --notifier=/usr/lib/xsecurelock/dimmer --transfer-sleep-lock -- lockscreen

[Install]
WantedBy=wm-session.target
