<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="Chatting" label="Chatting">
		<item label="Slack" icon="/usr/share/pixmaps/slack.png">
			<action name="Execute">
				<execute>/usr/bin/slack -s </execute>
			</action>
		</item>
		<item label="Telegram Desktop" icon="/usr/share/icons/hicolor/16x16/apps/telegram.png">
			<action name="Execute">
				<execute>telegram-desktop -- </execute>
			</action>
		</item>
		<item label="Zoom" icon="/usr/share/pixmaps/Zoom.png">
			<action name="Execute">
				<execute>/usr/bin/zoom </execute>
			</action>
		</item>
	</menu>
	<menu id="Internet" label="Internet">
		<item label="Google Chrome" icon="/usr/share/icons/hicolor/16x16/apps/google-chrome.png">
			<action name="Execute">
				<execute>/usr/bin/google-chrome-stable </execute>
			</action>
		</item>
	</menu>
	<menu id="Programming" label="Programming">
		<item label="Alacritty" icon="/usr/share/pixmaps/Alacritty.svg">
			<action name="Execute">
				<execute>alacritty</execute>
			</action>
		</item>
		<item label="Neovim" icon="/usr/share/icons/hicolor/128x128/apps/nvim.png">
			<action name="Execute">
				<execute>alacritty --command nvim</execute>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="Chatting"/>
		<menu id="Internet"/>
		<menu id="Programming"/>
		<separator label="System Commands"/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
